@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap");

.head {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

.education-title {
  border-radius: 2rem;
  border: 3px solid #333;
  box-shadow: 2px 5px #333;
  font-size: 1.8rem;
  font-family: "Jacques Francois Shadow", cursive;
  color: #333;
  font-weight: 600;
  width: 42%;
  padding-left: 2rem;
  background: #f3f8fc;
  margin: 2rem;
}

.education-box {
  border: 3px solid #a3a5a5;
  box-shadow: 5px 8px #a3a5a5;
  padding: 2rem;
  border-radius: 2rem;
}

.timeline {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 600px;
  margin: 1rem 30rem 8rem 30rem;
}

.timeline-event {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}

.timeline-date {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1rem;
  font-weight: bold;
  border: 3px solid #a3a5a5;
  border-radius: 2rem;
  padding: 0.4rem;
}

.timeline-content {
  margin-top: 2.2rem;
  margin-left: 1rem;
  border-left: 2px solid #082567;
  z-index: -1;
  position: relative;
  padding-left: 3rem;
}

.timeline-content h3 {
  font-size: 1.2rem;
  margin: 0;
}

.timeline-content p {
  font-size: 1rem;
  margin: 5px 0;
}

.fa-graduation-cap {
  border: 2px solid #333;
  box-shadow: 2px 4px #333;
  width: 4.5rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 50%;
  margin: 1.5rem 0;
  margin-left: 1rem;
}
